* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.installation__form {
  width: 305px;
  margin: 200px auto 0;
  background: #EDEDED;
  /*	padding: 30px 30px 0 30px;*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.installation__form h3 {
  font: 23px times;
  text-align: center;
}
.installation__form p {
  text-align: center;
  margin: 20px 0;
}
.form__top {
  padding: 40px 30px 0 30px;
}
.installation__form-element {
  height: 44px;
  width: 100%;
  border: 1px solid #BCC1C4;
  margin-bottom: 15px;
  padding-left: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px 1px #CDD5D8;
}
.installation__form-element:active {
  background: #DFE9EB;
}
.form__bottom {
  padding: 30px 30px 40px 30px;
  background: #D4DEDF;
  border-form__top: 1px solid #B5BBBB;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.form__button {
  background: #55C2E1;
  border: 1px solid #68A7B9;
  padding: 15px 24px;
  border-radius: 4px;
  color: #D2FFFF;
  font-size: 15px;
  cursor: pointer;
  box-shadow: inset 0 0 1px .5px #fff;
  display: block;
  width: 100%;
}
.form__button:hover {
  background: #4CAFCA;
  color: #fff;
}
