/********************************************************/
/*                     СТИЛИ СБРОСА                     */
/********************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: #fff url('../img/background.jpg') no-repeat;
  background-size: cover;
}


/********************************************************/
/*                      ОБЩИЕ СТИЛИ                     */
/********************************************************/
.wraper {
  background: #fff url('../img/background.jpg') no-repeat;
  background-size: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1.0;
}

.installation__form,
.success__form,
.registration__form {
  width: 680px;
  position: absolute;
  overflow: hidden;
  padding: 60px 40px;
  font-family: arial;
  background: rgba(255,255,255,.6);
  transition: all 3s ease-in-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.logining__form,
.registration__form {
  width: 320px;
  position: absolute;
  overflow: hidden;
  text-align: center;
  padding: 60px 40px;
  font-family: arial;
  background: rgba(255,255,255,.6);
  transition: all 3s ease-in-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/********************************************************/
/*                     ЛЕВАЯ  ЧАСТЬ                     */
/********************************************************/

.form_left {
  width: 50%;
  float: left;
}

.installation-form__label,
.logining-form__label,
.registration-form__label {
  display: block;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.form__status {
  width: 40px;
  height: 40px;
  background: #fff;
  display: block;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.form__status-succes { background: #fff url('../img/galka.png') center center no-repeat; }
.form__status-fail   { background: #fff url('../img/krest.png') center center no-repeat; }


.installation__form-element,
.logining__form-element,
.registration__form-element {
  height: 40px;
  max-width: 250px;
  width: 100%;
  float: left;
  display: block;
  border: none;
  margin-left: 10px;
  padding-left: 15px;
  font-size: 13px;
  outline: none;
  background: #ffffff !important;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;

  /*transition: all 1s ease-in-out;*/
}
.logining__form-element,
.registration__form-element { max-width: 190px; }

.installation__form-element:active,
.logining__form-element:active,
.registration__form-element:active { background: #DFE9EB; }

.form__loader {
  overflow: hidden;
  display: inline-block;
  float: right;
}

.loader {
  background: url('../img/loader.svg') left -5px no-repeat;
  display: none;
  float: left;
  width: 45px;
  height: 45px;
}

.form__button {
  background: #16558B;
  border: none;
  padding: 10px 45px;
  border-radius: 4px;
  color: #D2FFFF;
  font-size: 15px;
  cursor: pointer;
  display: block;
  float: right;
}
.form__button:hover {
  background: #4CAFCA;
  color: #fff;
}



/********************************************************/
/*                     ПРАВАЯ ЧАСТЬ                     */
/********************************************************/
.form_right {
  width: 45%;
  height: 100px;
  float: left;
  margin-left: 5%;
  text-align: center;
}

.logo__wrap {
  width: 100%;
  display: block;
  margin-top: -16px;
}
.logo { display: inline; }


.submiting_status-wrap { text-align: center; }

.submiting_status__title {
  color: #737373;
  font: 15px Arial;
  margin: 15px 0;
}

.logining__form .submiting_status__title {
  margin-bottom:  50px;
}
.submiting_status__list {
  padding: 0;
  text-align: left;
  padding-left: 55px;
}

.status_list__element {
  list-style: none;
  margin-bottom: 8px;
  color: #242424;
}

.list_element__circle {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 8px;
  background: #737373;
  transition: all 1s ease-in-out;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.circle_succes { background: #165489; }
.circle_fail   { background: #EA1F23; }

.error_field__wrap {
  height: 38px;
  line-height: 38px;
  width: 80%;
  display: inline-block;
  margin-top: 14px;
  border: 1px solid #16558B;
  background: #fff;
  text-align: center;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.error_field {
  font-style: italic;
  font-family: Arial;
}




/********************************************************/
/*                    ФОРМА СООБЩЕНИЯ                   */
/********************************************************/

// второй этап
.success__form {
  position: absolute;
  right: -5000px;
  transition: right 3s ease-in-out;
  text-align: center;
}

.success_form__title {
  margin-top: 40px;
  font: arial 14px;
  color: #737373;
}
.success_form__message {
  color: #292929;
  margin-top: 15px;
}

.success_form__message span {
  font-weight: bold;
}
