.styles.stylpost {
  padding: 30px;
  width: 440px;
  min-height: 240px;
  box-shadow: 0 2px 3px #999;
  background: #fff;
  padding: 10px;
  margin: 10px;
}
.styles.stylpost__line {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 1px;
  background: #dedddd;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .styles.stylpost {
    width: 90%;
    padding: 2%;
    margin: 2%;
  }
}
@media screen and (max-width: 480px) {
  .styles.stylpost {
    width: 90%;
    padding: 2%;
    margin: 2%;
  }
}
