.styles.stylpost {
  padding: 30px;
  width: 440px;
  min-height: 240px;
  box-shadow: 0 2px 3px #999;
  background: #fff;
  padding: 10px;
  margin: 10px;
}
.styles.stylpost__line {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 1px;
  background: #dedddd;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .styles.stylpost {
    width: 90%;
    padding: 2%;
    margin: 2%;
  }
}
@media screen and (max-width: 480px) {
  .styles.stylpost {
    width: 90%;
    padding: 2%;
    margin: 2%;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url("photos/cyprus-1316663_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.styles.stylwrapper {
  width: 1280px;
  margin: 50px auto;
  box-shadow: 1px 11px 32px rgba(0,0,0,0.2);
  background: rgba(255,255,255,0.8);
  display: flex;
}
.styles.styllogo {
  font-weight: 100;
}
.styles.styltoolbar {
  width: 250px;
}
.styles.styltoolbar__element {
  background: #777;
  height: 40px;
  line-height: 40px;
  list-style-type: none;
  transition: 0.3s background;
}
.styles.styltoolbar__element:hover {
  background: #aaa;
}
.styles.styltoolbar__link {
  color: #fff;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  display: block;
  text-decoration: none;
}
main {
  width: 1110px;
  display: flex;
}
.styles.stylall_arcticles td {
  padding: 10px 15px;
  border: 1px solid #000;
}
.styles.stylall_arcticles table {
  border-collapse: collapse;
}
.styles.styledit_post {
  background: #ccc url("");
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.styles.styldelete_post {
  background: #ccc url("");
  display: inline-block;
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 480px) {
  body,
  main {
    flex-direction: column;
  }
  .styles.stylwrapper {
    width: 80%;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  body,
  main {
    flex-direction: column;
  }
  .styles.stylwrapper {
    width: 80%;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
  }
}
