.a-create-post
    margin 20px
    padding 20px
    border 1px solid yellow
    background rgba(255, 255, 255, 0.8)
    
.a-create-post__heading
    margin-bottom 20px

.a-create-post__title
    display block
    height 40px
    line-height 40px
    font-size 32px
    width 300px
    border-bottom 2px solid orange
    margin-bottom 20px
    background transparent
    
    &:focus
        border-bottom 2px solid lightseagreen
    
.a-create-post__body
    display block
    width 640px
    min-height 480px
    font-size 18px
    border 2px solid orange
    background transparent
    
    &:focus
        border 2px solid lightseagreen
        background white

.a-create-post__submit
    display block
    width 180px
    height 60px
    line-height 60px
    text-align center
    background orange
    color white
    margin-top 20px
    cursor pointer
    font-size 16px
    text-transform uppercase
    
    &:hover
        background lightseagreen