doctype html
html
  head
    meta(charset='UTF-8')
    title Вход
    link(rel='stylesheet', href='../stylus/login_template.css')
    script(type='text/javascript', src='../js/form.js')
  body
    .wraper
      .center.cleafix
        .title.cleafix
          h3 Athene
        .reg_wraper.clearfix
          .reg_square.clearfix
            span.left__scotchl  
            span.right__scotchl  
            h4 Athene CMS Admin Panel
            form(name='login_form', action='/authentication', method='POST')
              input(name='log_login', type='text', value='Логин', onblur="if(this.value == '') this.value = 'Логин'", onfocus="if(this.value == 'Логин') this.value = ''",  required=''")
              input(name='password_login', type='text', value='Пароль', onblur="if(this.value == '') this.value = 'Пароль'", onfocus="if(this.value == 'Пароль') this.value = ''",  required=''")
              input(return='form', type='submit', value='Войти', onClick="return check(this.form)")
        .right.copyright
          p © 2016 AtheneCMS