doctype html
html
  head
    link(rel='shortcut icon', href='favicon.ico')
    meta(charset="utf-8")
    title Athene CMS
    link(rel="stylesheet", href="#{theme}")
  body
    .wrapper
      h1.logo AtheneCMS

    .wrapper
      main
        for post in posts
          div.post
            h2.post__title
              #{post.title}
            hr.post__line
            p.post__body
              #{post.body}

            h3.post__date
              #{post.date}

            hr
