aside.toolbar
  ul.toolbar__nav
    li.toolbar__element
      a(href="/admin-create-posts").toolbar__link Добавить пост
      
    // li.toolbar__element
    //   a(href="/admin-panel").toolbar__link Админ панель
    
      
    li.toolbar__element
      a(href="/installation").toolbar__link Переустановить БД
    
    li.toolbar__element
      a(href="/admin-delete-posts").toolbar__link Список постов
    
    li.toolbar__element
      a(href="/put-roles").toolbar__link Роли
                      
    li.toolbar__element.show_index_page
      a(href="/").toolbar__link На главную
      
    li.toolbar__element.show_index_page
      a(href="/signup").toolbar__link Регистрация
      
    li.toolbar__element.show_index_page
      a(href="/login").toolbar__link Авторизация