* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

@font-face {
  font-family: 'Poiret One';
  src: local("Poiret One"), local("PoiretOne-Regular"), url("/fonts/poiret/poiretone.woff2") format("woff2"), url("/fonts/poiret/poiretone.woff") format("woff"), url("/fonts/poiret/poiretone.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
html, body {
  height: 100%; }

body {
  display: flex;
  background: url("/photos/sea-beach-vacation-sand.jpg") no-repeat center center fixed;
  background-size: cover; }

h1 {
  font-size: 64px;
  font-family: "Poiret One";
  text-align: center;
  text-shadow: 1px 1px 1px white;
  padding-bottom: 16px; }

.wrapper {
  margin: auto;
  width: 640px;
  height: 480px;
  padding: 10px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); }


/* новые стили */
/* стили формы */

.center {
	width: 960px;
	margin: 0 auto;
}


.getting_form {
	width: 305px;
	margin: 200px auto 0;
	background: #F3F3F3;
/*	padding: 30px 30px 0 30px;*/

	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	   	 -o-border-radius: 5px;
	   	 	border-radius: 5px;
}

.getting_form h3 {
	font: 23px times;

}
.getting_form p {
	margin: 10px 0;
}

.top {
	padding: 40px 30px 0 30px;
}
.top input {
	height: 44px;
	width: 100%;
	border: 1px solid #BCC1C4;
	margin-bottom: 15px;
	padding-left: 10px;

	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	   	 -o-border-radius: 5px;
	   	 	border-radius: 5px;

	box-shadow: inset 0 1px 3px 1px #CDD5D8;
}
.top input:active {
	background: #DFE9EB;
}

.buttom {
	padding: 30px 30px 40px 30px;
	background: #D4DEDF;
	border-top: 1px solid #B5BBBB;

	-webkit-border-radius: 0 0 5px 5px;
	   -moz-border-radius: 0 0 5px 5px;
	   	 -o-border-radius: 0 0 5px 5px;
	   	 	border-radius: 0 0 5px 5px;
}
.registration {
	background: none;
	border: none;
	color: #424D4F;
	font: 16px times;
	margin-top: 13px;
	display: block;
}
.registration:hover {
	text-decoration: underline;
}

.getin {
	background: #55C2E1;
	border: 1px solid #68A7B9;
	padding: 15px 24px;
	border-radius: 4px;
	color: #D2FFFF;
	font-size: 15px;
	cursor: pointer;
	box-shadow: inset 0 0 1px .5px #fff;
}
.getin:hover {
	background: #4CAFCA;
	color: #fff;
}
