html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html { height: 100%; }
body {
	height: 100%;
	font: 13px/16px Arial, Tahoma, sans-serif;
	color: #383838;
}
ol, ul { list-style: none; }
* {
	margin: 0;
	outline: none;
	padding: 0;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

a, a:hover { color: #383838; text-decoration: none; }


.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after { clear: both; }

.left { float:left; }
.right { float:right; }

input { -webkit-appearance: none; }



/*@font-face {
    font-family: "MarckScript";
    src: url("../fonts/MarckScript-Regular.ttf");
    src: url("../fonts/MarckScript-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MarckScript-Regular.woff") format("woff"),
    url("../fonts/MarckScript-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}*/

/************************ ОБЩИЕ СТИЛИ ************************/
.wraper {
	min-height: 100%;
	background: url(../photos/bg.png) repeat top left;
	color: #fff;
}

.center {
	width: 70%;
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

.title {
	margin-bottom: 150px;
	margin-top: 60px;
	padding-left: 10px;
}

.title h3 {
	font-size: 2.5vw;
	font-family: 'MarckScript', Arial;
}




/*форма регистрации*/
.reg_wraper {
	padding: 0 20%;
}

.reg_square {
	border: 8px solid #000;
	display: block;
	background: #2C5576;
	padding: 5% 15%;
	text-align: center;
	border-radius: 5px;
	position: relative;
}

.reg_square h4 {
	font-size: 1.7vw;
	font-family: 'MarckScript', Arial;
	margin: 0px 0 60px;
}

.reg_square form {
	width: 100%;
}

.reg_square input {
	width: 100%;
	/*display: block;*/
	height: 35px;
	margin-bottom: 10px;
	background: #fff;
	border-radius: 10px;
	border: none;
	padding: 0 10px;
	font: 1vw 'MarckScript', Arial;
	color: rgba(22,42,59, .8);
}


.reg_square input[type="submit"] {
	margin-top: 60px;
	padding: 2% 9%;
	font: 1vw 'MarckScript', Arial;
	border: 3px solid #162A3B;
	background: #fff;
	color: #162A3B;
	border-radius: 20px;
}
.reg_square input[type="submit"]:hover {
	background: #10202C;
	color: #fff;
	cursor: pointer;
	border: 3px solid #10202C;
}


.left__scotchl {
	background: url(../photos/scotchl.png);
	position: absolute;
	width: 85px;
	height: 86px;
	top: -30px;
	left: -34px;
}


.right__scotchl {
	background: url(../photos/scotchr.png);
	position: absolute;
	width: 85px;
	height: 86px;
	top: -30px;
	right: -34px;
}


.copyright {
	margin-top: 4vw;
}



@media ( max-width: 769px ) {
	.reg_square input[type="submit"] {
		/*width: 100% !important;*/
		border-radius: 10px;
		margin-top: 15px;
		height: 23px;
	}
}
