doctype html
html
  head
    meta(charset='UTF-8')
    link(rel="stylesheet", href="public/stylus/installation.css")
    title Athene CMS
  body
    #react-container
    script(type='text/javascript', src='js/bundle.js')
