doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Регистрация
    link(rel='stylesheet', href='stylus/login_template.css')

  body
    .wraper
      .center.cleafix
        .title.cleafix
          h3 Athene
        .reg_wraper.clearfix
          .reg_square.clearfix
            span.left__scotchl  
            span.right__scotchl  
            h4 Athene CMS Admin Panel
            form(name='reg_form', action='/register', method='POST')
              input(name='email',      type='text', placeholder='Login',            required)
              input(name='pwd',        type='text',  placeholder='Password',         required)
              input(name='pwdconfirm', type='text',  placeholder='Repeat password',  required)
              input(return='form',     type='submit', value='SIGNUP',               onClick="return check(this.form)")
        .right.copyright
          p © 2016 AtheneCMS
