doctype html
html
    head
        title= pageName
        meta(charset="utf-8")
        link(rel="stylesheet", href="stylus/styles.css")
    
    body
        .wrapper
            h1.logo Athene CMS
      
        .wrapper
            include toolbar.jade
            main
                form(action="change_role", method="POST")
                    select(required='required', data-placeholder='', name='user')
                        option(value='')
                            for user in users
                                option(value='#{user.id_user}') #{user.id_user}&nbsp; #{user.user_name}
                                
                    select(required='required', data-placeholder='', name='role')
                        option(value='')
                            for role in roles
                                option(value='#{role.role_id}') #{role.role_id}&nbsp; #{role.role_name}
                    
                    input(type='submit', value="изменить")