!!! 5
html
  head
    title= pageName
    // link(rel="stylesheet", href="bower_components/material-design-lite/material.css")
    
    link(rel="stylesheet", href="stylus/styles.css")
    
  body
    .wrapper
      h1.logo Athene CMS
    .wrapper
      include toolbar.jade
      main
        div.postslist
          page__title
            for post in posts
              div.posts
                p.posts__element #{post.title}
                p.posts__element #{post.date}
              div.posts
                a.mdl-button(href='/post/delete/#{post.post_id}') Удалить
              hr
                          .user__vigets.right
                i.user__ico &nbsp;
                // a(href="/im").user Admin
                // a(href="#").out выйти  
      
            
