doctype html
html
  head
    title= pageName
    meta(charset="utf-8")
    link(rel="stylesheet", href="stylus/styles.css")
    
  body
    .wrapper
      h1.logo Athene CMS
      
    .wrapper
      include toolbar.jade
      main
        div.a-create-post
          h2.a-create-post__heading Название поста
          form(action='/admin-create-posts', method='POST')
            div
              input.a-create-post__title(name='title', type='text', placeholder="Заголовок")
              h2.a-create-post__heading Тело поста
              textarea.a-create-post__body(name='body', type='text', placeholder='Текст поста')
            div  
            input.a-create-post__submit(type='submit', value='Опубликовать')