doctype html
html
  head
    title= pageName
    meta(charset="utf-8")
    link(rel="stylesheet", href="stylus/styles.css")
    
  body
    .wrapper
      h1.logo Athene CMS
      
    .wrapper
      include toolbar.jade
      main
        form.all_pages(action='', method="POST")
          h3 Страницы на сайте
          table
            tr
              td Страница
              td Путь
              td Действия
            tr
              td о проекте
              td /about
              td
                a.edit_post(href='/edit_post?id=1', title='edit post')  
                a.delete_post(href='/delete_post?id=1', title='delete post')  
