doctype html
html
  head
    title= pageName
    meta(charset="utf-8")
    link(rel="stylesheet", href="stylus/styles.css")
    
  body
    .wrapper
      h1.logo Athene CMS
      
    .wrapper
      include toolbar.jade
      main
        form.all_arcticles(action='', method="POST")
          h3 Записи на сайте        
          table
            tr
              td Запись
              td Дата
              td Действия
              td Выбрать
            tr
              td ЧМ по футоблоу
              td 14 мая 2016
              td
                a.edit_post(href='/edit_post?id=1', title='edit post')&nbsp;
                a.delete_post(href='/delete_post?id=1', title='delete post')&nbsp;
              td
                input(type='checkbox', name="article_1")
          input(type='submit', value='изменить')
          input(type='submit', value='Удалить')
