doctype html
html
    head
        title= pageName
        meta(charset="utf-8")
        link(rel="stylesheet", href="stylus/styles.css")
        for theme_url in theme_url
            link(rel="stylesheet", href="stylus/themes/#{theme_url.theme_name}.css")
    body
        .wrapper
            h1.logo Athene CMS

        .wrapper
            include toolbar.jade
            main
                form(action="change_theme", method="POST")
                    select(required='required', data-placeholder='', name='user')
                        option(value='')
                            for user in users
                                option(value='#{user.user_name}') #{user.id_user}&nbsp; #{user.user_name}

                    select(required='required', data-placeholder='', name='theme_id')
                        option(value='')
                            for theme in theme
                                option(value='#{theme.themes_id}') #{theme.themes_id}&nbsp; #{theme.theme_name}

                    input(type='submit', value="изменить")
                    a(href="#") назад