.post
    padding 30px
    width 440px
    min-height 240px
    box-shadow 0 2px 3px #999
    background white
    padding 10px
    margin 10px

.post__line
    margin-top 10px
    margin-bottom 10px
    width 100%
    height 1px
    background #DEDDDD

// Tablet
@media screen and (min-width: 481px) and (max-width: 1024px)
    .post
        width 90%
        padding 2%
        margin 2%
    
// Mobile
@media screen and (max-width: 480px)
    .post
        width 90%
        padding 2%
        margin 2%