.post {
  padding: 30px;
  width: 440px;
  min-height: 240px;
  box-shadow: 0 2px 3px #999;
  background: #fff;
  padding: 10px;
  margin: 10px;
}
.post__line {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 1px;
  background: #dedddd;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .post {
    width: 90%;
    padding: 2%;
    margin: 2%;
  }
}
@media screen and (max-width: 480px) {
  .post {
    width: 90%;
    padding: 2%;
    margin: 2%;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url("photos/Life-of-Pix-free-stock-photos-sunset-mountain-lake-snow-BlakeVerdoorn.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.wrapper {
  width: 1280px;
  margin: 50px auto;
  box-shadow: 1px 11px 32px rgba(0,0,0,0.2);
  background: rgba(255,255,255,0.8);
  display: flex;
}
.logo {
  font-weight: 100;
}
.toolbar {
  width: 250px;
}
.toolbar__element {
  background: #777;
  height: 40px;
  line-height: 40px;
  list-style-type: none;
  transition: 0.3s background;
}
.toolbar__element:hover {
  background: #aaa;
}
.toolbar__link {
  color: #fff;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  display: block;
  text-decoration: none;
}
main {
  width: 1110px;
  display: flex;
}
.all_arcticles td {
  padding: 10px 15px;
  border: 1px solid #000;
}
.all_arcticles table {
  border-collapse: collapse;
}
.edit_post {
  background: #ccc url("");
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.delete_post {
  background: #ccc url("");
  display: inline-block;
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 480px) {
  body,
  main {
    flex-direction: column;
  }
  .wrapper {
    width: 80%;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  body,
  main {
    flex-direction: column;
  }
  .wrapper {
    width: 80%;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
  }
}
